<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8" />
    <link href="/style/style.css" rel="stylesheet"/>
    <title> VideoGame Website </title>
  </head>
  <body>
    <h1 class="titre"> VideoGame Website</h1>
    {% block content %}
    {% endblock %}
  </body>
</html>
